<br/>
<div class="cc-widget-title">
  <h2>Events</h2>
</div>

<table id="sort" style="width:100%;">
    <thead>
    <tr>
        <th><span>Time</span></th>
        <th><span>Name</span></th>
    </tr>
     </thead>
     <tbody></tbody>
    </table>
<table>
    <tr style="display:none;" class="event-result-template">
        <td class="event-start-time"></td>
        <td class="event-name"></td>
    </tr>
    <tr style="display:none;" id="no-events-placeholder">
        <td>No Events</td>
    <tr>
</table>

</ul>
<form id="callink-form">
    <strong> Search </strong>
    <ul>
      <li>
        Category
        <input type="text" id="category_field" name="category"></input>
      </li>
      <li>
        Club
        <input type="text" name="club"></input>
      </li>
    </ul>
    <button id="search-events" type="submit">Search</button>
</form>

<div id="user_nav">
  <% if current_user %>
    Signed in as <strong><%= current_user.fb_name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>

