<br/>
<div class="cc-widget-title">
  <h2>Events</h2>
</div>

<table id="sort" style="width:100%;">
    <thead>
    <tr>
        <th><span>Time</span></th>
        <th><span>Name</span></th>
    </tr>
     </thead>
     <tbody></tbody>
    </table>
<table>
    <tr style="display:none;" class="event-result-template">
        <td class="event-start-time"></td>
        <td class="event-name"></td>
    </tr>
    <tr style="display:none;" id="no-events-placeholder">
        <td>No Events</td>
    <tr>
</table>

</ul>
<form id="callink-form">
    <strong> Search </strong>
    <ul>
      <li>
        Category
        <input type="text" name="category"></input>
      </li>
      <li>
        Club
        <input type="text" name="club"></input>
      </li>
    </ul>
    <button id="search-events" type="submit">Search</button>
</form>


<table id="hardcocde" style="width:100%;">
    <thead>
      <tr>
        <th><span>Event Name</span></th>
        <th><span>Date & time</span></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="lalign">EECS Meeting</td>
        <td>11/14, 6pm </td>
      </tr>
      <tr>
        <td class="lalign">H@B Intro to JS</td>
        <td>10/18, 8pm</td>

      </tr>
      <tr>
        <td class="lalign">Twitter Info Session</td>
        <td>11/15, 6:30pm</td>
      </tr>
      <tr>
        <td class="lalign">CSUA Hack+</td>
        <td>11/11, 4pm</td>
      </tr>
      <tr>
        <td class="lalign">Facebook Info Session</td>
        <td>11/20, 7pm</td>
      </tr>
      <tr>
        <td class="lalign">CSUA General Meeting</td>
        <td>11/12, 7pm</td>
      </tr>
    </tbody>
  </table>


