<style> 

</style>
<br />
<div class="cc-widget-title">
  <h2>Events</h2>
</div>
<ul>
  <li> CS Club</li>
<li><input type="text" name="filterByName"></input><input type="text" name="filterByName"></input></li>
<li><input type="text" name="filterByCategory"></input><li>
<li><input type="text" name="filterByClubName"></input></li>
</ul>





